[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/sanitizers"]
	path = extern/sanitizers
	url = https://github.com/arsenm/sanitizers-cmake
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
